<div class="page-container">
  <div class="dashboard-container">
    <div class="sun">
    </div>
    <div class="actual">
      <div class="city">
        {{city}}
      </div>
      <div class="temperature">
        {{temperature}} C°
      </div>
      <div class="date">
        {{actualDate}}
      </div>
    </div>
  </div>

  <div class="forecast-label">
    Next 5 days Forecast
  </div>
  <div class="log-container" *ngIf="forecastData">
    <app-temperature-entry *ngFor="let element of forecastElements" [temperature]="element.main.temp" [timestamp]="element.dt"></app-temperature-entry>
  </div>
  <div class="log-container" *ngIf="!forecastData">
    <app-temperature-entry-placeholder></app-temperature-entry-placeholder>
  </div>
  <div class="buttons-container">
    <button class="previous" (click)="paginatePrevious()">Prev</button>
    <button class="next" (click)="paginateNext()">Next</button>
  </div>
  <button class="logout" (click)="logout()">Logout</button>
</div>
